.App {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-with-header {
  padding-top: 60px; /* leave space for header */
}

.offline-banner {
  background-color: #ffcc00;
  color: #333;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
